* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #333;
}
a {
    text-decoration: none;
    color: #333;
}
a:hover {
    text-decoration: underline;
}
form {
    margin-top: 15px;
}
button {
    border: none;
    border-radius: 4px;
    padding: 5px 20px;
    font-family: 'Roboto';
    background: lightblue;
    cursor: pointer;
    color: #333;
}
button.remove {
    background: lightcoral;
}
p {
    font-size: 16px;
    line-height: 1.4;
}
.container {
    max-width: 960px;
    min-width: 360px;
    margin: auto;
}
.container.flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.top-panel {
    position: fixed;
    width: 100%;
    background: #fff;
    padding: 15px 0;
}
.current-dir {
    margin-bottom: 15px;
}
.status {
    color: green;
    margin-top: 15px;
    font-size: 14px;
}
.status.error {
    color: red;
}
.list {
    padding-top: 135px;
}
.line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.line:nth-child(odd) {
    background: #f0f8ff;
}

@media (max-width: 960px) {
    .container {
        padding: 0 15px;
    }
}